//color
$bg-color: black;
$bg-color2: white;
$font-color1: black;
$font-color2: white;
$font-color3: rgb(107, 106, 106);
$font-color4: rgb(0, 0, 133);
$details-color: #0c7cec;
$bg-footer: #292929;
$price-color: rgb(93, 184, 32)